<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bosha.vault">
 <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="35"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
 <uses-permission android:name="android.permission.CAMERA"/>
 <uses-feature android:name="android.hardware.camera" android:required="false"/>
 <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
 <queries><intent><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent></queries>
 <application android:label="BoshaVault" android:icon="@drawable/ic_vault" android:theme="@style/VaultTheme" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="false" android:debuggable="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <activity android:name=".FillActivity" android:exported="false" android:excludeFromRecents="true" android:theme="@style/VaultTheme"/>
  <activity android:name=".ScanQrActivity" android:exported="false" android:excludeFromRecents="true" android:screenOrientation="portrait" android:theme="@style/VaultTheme"/>
  <service android:name=".VaultAutofillService" android:exported="true" android:permission="android.permission.BIND_AUTOFILL_SERVICE"><intent-filter><action android:name="android.service.autofill.AutofillService"/></intent-filter><meta-data android:name="android.autofill" android:resource="@xml/autofill_service"/></service>
 </application>
</manifest>
